<section class="page">

    <div ui-view="submenu"></div>

    <div class="filters" ng-class="{'active': showFilters}">
        <article class="article article-noborder article-gray-dark">
            <div class="content-center">
                <div class="content">
                    <div ui-view="filters-interest"></div>
                </div>
                <div class="content" style="margin-top: 20px;">
                    <div ui-view="filters-property"></div>
                </div>
            </div>
        </article>

        <div ui-view="submenu-filter"></div>
    </div>

    <div ui-view="error"></div>
    <div ui-view="success"></div>
    <div ui-view="loading"></div>

    <article class="article article-noborder" ng-if="properties.length == 0">
        <p class="not-found">Não foram encontrados imóveis compatíveis.</p>
    </article>

    <article class="article">
        <div class="content-center">
            <div class="search-item content">
                <div class="left">
                    <h2 class="title">Imóvel 1</h2>
                    <div class="item item-top col-xs-12">
                        <div class="label label-max">Localização</div>
                        <div class="value value-center">
                            {{client.phones.cell | phoneBr}}
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <div class="label label-max">Telefone</div>
                        <div class="value value-center">
                            {{client.phones.cell | phoneBr}}
                        </div>
                    </div>
                </div>
                <div class="center">
                    <button class="btn btn-soft btn-rounded">
                        Notificações
                    </button>
                    <button class="btn btn-dark btn-rounded">
                        Ver Mais Detalhes
                    </button>
                </div>
                <div class="right">
                    <h2 class="title">Imóvel 1</h2>
                    <div class="item item-top col-xs-12">
                        <div class="label label-max">Localização</div>
                        <div class="value value-center">
                            {{client.phones.cell | phoneBr}}
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <div class="label label-max">Telefone</div>
                        <div class="value value-center">
                            {{client.phones.cell | phoneBr}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <nav class="pagination" style="display: none;">
        <ul class="items">
            <li class="icon icon-hover icon-arrow-left"></li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li class="icon icon-hover icon-arrow-right"></li>
        </ul>
    </nav>
</section>