<div class="submenu">
    <div class="content-center">
        <div class="infos">
            <span class="icon"></span>
            <span class="title">Busca</span>
            <span class="subtitle">Listagem</span>
        </div>
        <nav class="options">
            <ul class="items">
                <li class="item" ng-class="{'active': showFilters}">
                    <button class="btn btn-link btn-link-soft" ng-click="toggleFilters()">
                        <span class="icon icon-plus"></span>
                        <span class="text">Filtrar A Busca</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>