<div class="submenu">
    <div class="content-center">
        <nav class="options">
            <ul class="items">
                <li class="item">
                    <button class="btn btn-link btn-link-soft" ng-click="doFilter()">
                        <span class="icon icon-close"></span>
                        <span class="text">Ok, Filtrar</span>
                    </button>
                </li>
                <li class="item">
                    <button class="btn btn-link btn-link-soft" ng-click="toggleFilters()">
                        <span class="icon icon-close"></span>
                        <span class="text">Cancelar</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
