body {
	margin: 0;
	padding: 0;
} 

.content-center {
	max-width: 100%;
	width: 990px;
	margin: auto;
}

.logo {
	width: 510px;
	height: 420px;
	background-color: #ccab45;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.hello {
	width: 510px;
	height: 115px;
	background-color: #ccab45;
	border-radius: 7px;
	padding: 20px 30px;
	margin-top: 20px;
	text-align: center;
}
	
.hello p {	
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
}

input.input-login{
	width: 510px;
	height: 55px;
	border: 4px solid #ccab45;
	border-radius: 7px;
	background-color: #f0f0ec;
	margin-top: 20px;
}	

.button {
	margin-top: 20px;
	width: 510px;
	height: 55px;
	background-color:  #ccab45;
	color: #fff;
	text-transform: uppercase;
	border-radius: 7px;
	border-style: none;
	font-size: 28px;
}

/*	

.button{
	padding-left: 90px;
}

button{
	margin-left: .5em;
}
*/