<div class="submenu">
    <div class="content-center">
        <div class="infos">
            <span class="icon"></span>
            <span class="title">Imóveis</span>
            <span class="subtitle">Importar CSV</span>
        </div>
        <nav class="options">
            <div class="items">
                <div class="item">
                    <a ui-sref="dashboard.properties" class="btn btn-link btn-link-soft">
                        <span class="icon icon-close"></span>
                        <span class="text">Finalizar</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>