<section class="page">
    <div ui-view="submenu"></div>
    <div class="content-center">
        <article class="article">
            <div class="title title-options">
                <span class="text">Imóvel 1</span>
                <nav class="options">
                    <ul class="items">
                        <li>
                            <button class="btn btn-link btn-link-soft">
                                Excluir
                            </button>
                        </li>
                        <li class="item">
                            <a ui-sref="dashboard.properties" class="btn btn-link btn-link-soft">
                                Ver Detalhes
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="subtitle">Dados do Imóvel:</div>
            <div class="content">
                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">tipo</div>
                    <div class="value value-center">
                        Casa, Apto, Terreno
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">valor</div>
                    <div class="value value-center">
                        R$2.000.000,00
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">cidade</div>
                    <div class="value value-center">
                        Ubatuba
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">bairro</div>
                    <div class="value value-center">
                        Lázaro
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-9 col-md-10">
                    <div class="label label-max">Localização</div>
                    <div class="value">
                        Rua de Teste, 1234 - APTO 123 - BL C
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-3 col-md-2">
                    <div class="label">quitado</div>
                    <div class="value value-center">
                        Sim
                    </div>
                </div>
            </div>

            <div class="subtitle">Interesse em:</div>
            <div class="content">
                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">tipo</div>
                    <div class="value value-center">
                        Casa, Apto, Terreno
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">valor</div>
                    <div class="value value-center">
                        R$2.000.000,00
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">cidade</div>
                    <div class="value value-center">
                        Ubatuba
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">bairro</div>
                    <div class="value value-center">
                        Lázaro
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-9 col-md-10">
                    <div class="label label-max">Localização</div>
                    <div class="value">
                        Rua de Teste, 1234 - APTO 123 - BL C
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-3 col-md-2">
                    <div class="label">quitado</div>
                    <div class="value value-center">
                        Sim
                    </div>
                </div>
            </div>
        </article>

        <article class="article">
            <div class="title title-options">
                <span class="text">Imóvel 1</span>
                <nav class="options">
                    <ul class="items">
                        <li>
                            <button class="btn btn-link btn-link-soft">
                                Excluir
                            </button>
                        </li>
                        <li class="item">
                            <a ui-sref="dashboard.properties" class="btn btn-link btn-link-soft">
                                Ver Detalhes
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="subtitle">Dados do Imóvel:</div>
            <div class="content">
                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">tipo</div>
                    <div class="value value-center">
                        Casa, Apto, Terreno
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">valor</div>
                    <div class="value value-center">
                        R$2.000.000,00
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">cidade</div>
                    <div class="value value-center">
                        Ubatuba
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">bairro</div>
                    <div class="value value-center">
                        Lázaro
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-9 col-md-10">
                    <div class="label label-max">Localização</div>
                    <div class="value">
                        Rua de Teste, 1234 - APTO 123 - BL C
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-3 col-md-2">
                    <div class="label">quitado</div>
                    <div class="value value-center">
                        Sim
                    </div>
                </div>
            </div>

            <div class="subtitle">Interesse em:</div>
            <div class="content">
                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">tipo</div>
                    <div class="value value-center">
                        Casa, Apto, Terreno
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">valor</div>
                    <div class="value value-center">
                        R$2.000.000,00
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">cidade</div>
                    <div class="value value-center">
                        Ubatuba
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">bairro</div>
                    <div class="value value-center">
                        Lázaro
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-9 col-md-10">
                    <div class="label label-max">Localização</div>
                    <div class="value">
                        Rua de Teste, 1234 - APTO 123 - BL C
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-3 col-md-2">
                    <div class="label">quitado</div>
                    <div class="value value-center">
                        Sim
                    </div>
                </div>
            </div>
        </article>

        <article class="article">
            <div class="title title-options">
                <span class="text">Imóvel 1</span>
                <nav class="options">
                    <ul class="items">
                        <li>
                            <button class="btn btn-link btn-link-soft">
                                Excluir
                            </button>
                        </li>
                        <li class="item">
                            <a ui-sref="dashboard.properties" class="btn btn-link btn-link-soft">
                                Ver Detalhes
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="subtitle">Dados do Imóvel:</div>
            <div class="content">
                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">tipo</div>
                    <div class="value value-center">
                        Casa, Apto, Terreno
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">valor</div>
                    <div class="value value-center">
                        R$2.000.000,00
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">cidade</div>
                    <div class="value value-center">
                        Ubatuba
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">bairro</div>
                    <div class="value value-center">
                        Lázaro
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-9 col-md-10">
                    <div class="label label-max">Localização</div>
                    <div class="value">
                        Rua de Teste, 1234 - APTO 123 - BL C
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-3 col-md-2">
                    <div class="label">quitado</div>
                    <div class="value value-center">
                        Sim
                    </div>
                </div>
            </div>

            <div class="subtitle">Interesse em:</div>
            <div class="content">
                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">tipo</div>
                    <div class="value value-center">
                        Casa, Apto, Terreno
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">valor</div>
                    <div class="value value-center">
                        R$2.000.000,00
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">cidade</div>
                    <div class="value value-center">
                        Ubatuba
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-6 col-md-3">
                    <div class="label">bairro</div>
                    <div class="value value-center">
                        Lázaro
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-9 col-md-10">
                    <div class="label label-max">Localização</div>
                    <div class="value">
                        Rua de Teste, 1234 - APTO 123 - BL C
                    </div>
                </div>

                <div class="item col-xs-12 col-sm-3 col-md-2">
                    <div class="label">quitado</div>
                    <div class="value value-center">
                        Sim
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>