<article class="article">
    <div class="content-center">
        <div class="title title-options">
            <span class="text">Buscar por:</span>
        </div>

        <div class="content">
            <div class="item item-left col-xs-12 col-sm-6">
                <div class="label">Código</div>
                <div class="value value-center">
                    <input type="text" ng-model="search.code">
                </div>
            </div>

            <div class="item item-left col-xs-12 col-sm-6">
                <div class="label">Condomínio</div>
                <div class="value value-center">
                    <input type="text" ng-model="search.address.condominium">
                </div>
            </div>

            <div class="item item-left col-xs-12 col-sm-6 col-md-4">
                <div class="label">Bairro</div>
                <div class="value value-center">
                    <input type="text" ng-model="search.address.neighborhood">
                </div>
            </div>

            <div class="item col-xs-12 col-sm-6 col-md-4">
                <div class="label">Cidade</div>
                <div class="value value-center">
                    <input type="text" ng-model="search.address.city">
                </div>
            </div>

            <div class="item col-xs-12 col-sm-6 col-md-4">
                <div class="label">Estado</div>
                <div class="value value-center">
                    <input type="text" ng-model="search.address.state">
                </div>
            </div>
        </div>
    </div>
</article>