<div class="submenu">
    <div class="content-center">
        <div class="infos">
            <span class="icon"></span>
            <span class="title">Imóveis</span>
            <span class="subtitle">Listagem</span>
        </div>
        <nav class="options">
            <ul class="items">
                <li class="item">
                    <label class="btn btn-link btn-link-soft">
                        <span class="icon icon-import"></span>
                        <span class="text">Importar CSV</span>
                        <input type="file" ng-model="file" ng-file-selected="doUploadCSV($file)" file accept=".csv">
                    </label>
                </li>
                <li class="item">
                    <a ui-sref="dashboard.properties.new" class="btn btn-link btn-link-soft">
                        <span class="icon icon-plus"></span>
                        <span class="text">Cadastrar Imóvel</span>
                    </a>
                </li>
                <li class="item" ng-class="{'active': showFilters}">
                    <button class="btn btn-link btn-link-soft" ng-click="toggleFilters()">
                        <span class="icon icon-filter"></span>
                        <span class="text">Filtrar Imóveis</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>