<div class="submenu">
    <div class="content-center">
        <div class="infos">
            <span class="icon"></span>
            <span class="title">Imóveis</span>
            <span class="subtitle">Listagem</span>
        </div>
        <nav class="options">
            <ul class="items">
                <li class="item">
                    <button class="btn btn-link btn-link-soft">
                        <span class="icon"></span>
                        <span class="text">Importar CSV</span>
                    </button>
                </li>
                <li class="item">
                    <a ui-sref="dashboard.properties" class="btn btn-link btn-link-soft">
                        <span class="icon"></span>
                        <span class="text">Cadastrar Imóvel</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>