<section class="page">
    <article class="article article-noborder">
        <div class="content-center">

            <div ui-view="error"></div>
            <div ui-view="loading"></div>

            <div class="title">
                <span class="text">{{client.name || 'Novo Cliente'}}</span>
            </div>

            <div class="content">
                <form name="forms.client">
                    <div ui-view="client"></div>
                </form>
            </div>
        </div>
    </article>

    <nav class="pagination">
        <div class="content-center">
            <div class="item" ng-if="!edit">
                <button class="btn btn-link btn-link-soft" ng-click="canEdit()">
                    <span class="icon icon-edit"></span>
                    <span class="text">Editar</span>
                </button>
            </div>
            <div class="item" ng-if="edit">
                <button class="btn btn-link btn-link-soft" ng-click="saveOrUpdate()">
                    <span class="icon icon-save"></span>
                    <span class="text">Salvar</span>
                </button>
            </div>
            <div class="item">
                <a ui-sref="dashboard.clients" class="btn btn-link btn-link-soft">
                    <span class="icon icon-close"></span>
                    <span class="text">Cancelar</span>
                </a>
            </div>
        </div>
    </nav>
</section>