<div class="submenu">
    <div class="content-center">
        <div class="infos">
            <span class="icon"></span>
            <span class="title">Clientes</span>
            <span class="subtitle">Listagem</span>
        </div>
        <nav class="options">
            <ul class="items">
                <li class="item">
                    <a ui-sref="dashboard.clients.new" class="btn btn-link btn-link-soft">
                        <span class="icon icon-plus"></span>
                        <span class="text">Cadastrar Cliente</span>
                    </a>
                </li>
                <li class="item" ng-class="{'active': showFilters}">
                    <button class="btn btn-link btn-link-soft" ng-click="toggleFilters()">
                        <span class="icon icon-filter"></span>
                        <span class="text">Filtrar Clientes</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>