.article
  width: 100%
  overflow: hidden
  display: inline-block
  border:
    bottom: 3px solid $color-soft
  margin:
    top: 30px
  padding:
    bottom: 20px

  @media #{$medium-max}
    padding:
      left: 15px
      right: 15px

  &.article-noborder
    border: none

  &.article-gray-dark
    background:
      color: $color-gray-dark
    margin:
      top: 0
    padding:
      top: 20px

  .not-found
    padding: 50px
    text-align: center

  .title
    @include border-radius(5px)
    width: 100%
    padding: 10px 20px
    position: relative
    background:
      color: $color-gray-dark
    color: $color-soft
    text-transform: uppercase
    clear: both
    min-height: 40px
    margin:
      bottom: 10px

    input,
    select,
    textarea
      min-height: 20px
      width: 100%
      background:
        color: transparent
      border: none
      text-transform: uppercase

    &.title-options
      padding:
        right: 220px

      @media screen and #{$xsmall-max}
        padding:
          right: 0

    .text
      @media screen and #{$xsmall-max}
        width: 100%
        display: block

    .options
      width: 300px
      position: absolute
      top: 0
      right: 10px
      opacity: .8

      @media screen and #{$xsmall-max}
        position: relative
        width: 100%
        height: 100%
        display: inline-block

      .btn
        float: right
        padding: 10px
        font:
          weight: 700

        &:hover
          color: $color-dark

  .subtitle
    width: 100%
    clear: both
    margin:
      top: 5px
      bottom: 15px

    .text
      @include border-radius(5px)
      padding: 6px 20px
      display: inline-block
      clear: both
      background:
        color: $color-gold
      color: $color-soft
      text-transform: uppercase