.article
  width: 100%
  overflow: hidden
  display: inline-block
  border:
    bottom: 3px solid $color-soft
  margin:
    top: 30px
  padding:
    bottom: 20px

  @media #{$medium-max}
    padding:
      left: 15px
      right: 15px

  &.article-noborder
    border: none

  .title
    @include border-radius(5px)
    width: 100%
    padding: 10px 20px
    position: relative
    background:
      color: $color-gray-dark
    color: $color-soft
    text-transform: uppercase
    margin:
      bottom: 10px

    input,
    select,
    textarea
      min-height: 20px
      width: 100%
      background:
        color: transparent
      border: none
      text-transform: uppercase

    &.title-options
      padding:
        right: 220px

    .options
      width: 220px
      position: absolute
      top: 0
      right: 10px
      opacity: .8

      .btn
        float: right
        padding: 10px
        font:
          weight: 700

        &:hover
          color: $color-dark

  .subtitle
    @include border-radius(5px)
    padding: 6px 20px
    display: inline-block
    background:
      color: $color-gold
    color: $color-soft
    text-transform: uppercase
    margin:
      top: 5px
      bottom: 15px