.content
  width: 100%
  clear: both

  .item
    @include border-radius(5px)
    display: table
    padding: 0
    margin: 0 0 10px
    background:
      color: $color-soft

    .label
      display: table-cell
      vertical-align: middle
      background:
        color: $color-gray
      font:
        size: .8em
        weight: 300
      text-transform: uppercase
      color: $color-dark
      padding: 10px 20px

      &.label-max
        width: 160px

      @media #{$small-max}
        width: 160px

    .value
      display: table-cell
      padding: 10px 20px
      line-height: 1em
      vertical-align: middle
      font:
        size: 1em
        weight: 300

      &.disabled
        opacity: .6

      input,
      select,
      textarea,
      span
        width: 100%
        background:
          color: transparent
        border: none
        min-height: 22px
        display: block

        &:disabled
          opacity: .6

      input[type=file]
        display: none

      &.value-center
        text-align: center

        @media #{$small-max}
          text-align: left