.content
  width: 100%
  clear: both
  display: inline-block

  .division
    padding: 0

  .item
    @include border-radius(5px)
    display: table
    padding: 0
    margin: 0 0 10px
    min-height: 42px

    &.item-left
        @media #{$small}
          padding:
            right: 10px

    &.item-top
      .label
        display: inline-block
        width: auto

      .value
        @include border-radius(5px, 'bottom-left')
        display: block
        min-height: 45px

    &.item-image
      text-align: center

      .image
        @include border-radius(50%)
        border: 1px solid $color-gray
        width: 100px
        height: 100px
        overflow: hidden
        margin: auto
        background-color: $color-soft

        .photo-fill
          width: 100%
          height: 95px
          background: lighten($color-gray, 13%)
          display: block

        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: 50% 50%

    .label
      display: table-cell
      vertical-align: middle
      background:
        color: $color-gray
      font:
        size: .8em
        weight: 300
      text-transform: uppercase
      color: $color-dark
      padding: 10px 20px
      white-space: normal
      line-height: 1.2em

      &.label-left
        text-align: left

      &.label-xsmall
        width: 30px

      &.label-small
        width: 50px

      &.label-medium
        width: 90px

      &.label-large
        width: 135px

      &.label-max
        width: 160px

      &.label-xlarge
        width: 210px

      &.label-big
        width: 290px

      @media #{$small-max}
        width: 160px

    .value
      @include border-radius(5px, 'top-right')
      @include border-radius(5px, 'bottom-right')
      padding: 10px 10px 10px 15px
      line-height: 1em
      position: relative
      display: table-cell
      vertical-align: middle
      background:
        color: $color-soft
      font:
        size: 1em
        weight: 300

      &.disabled
        opacity: .6

      &.value-file:not(.disabled)
        cursor: pointer

        &.disabled
          opacity: .6

      &.value-slider
        &.disabled
          pointer-events: none
          cursor: no-drop
          opacity: 1

        .slider-left,
        .slider-right
          width: 80px
          float: left
          text-align: center
          padding: 5px 0

          span
            font:
              size: .8em

        .slider-center
          width: calc(100% - 160px)
          float: left
          padding: 0 15px

      .text
        padding-top: 10px

      .date
        color: $color-dark
        width: 100%
        text-align: right
        padding:
          right: 15px
          top: 10px
        font:
          size: .8em
          style: italic

      .checkbox
        position: relative

        &.checkbox-inline
          display: table-cell

          .text
            margin: 0 5px

        input[type=checkbox]
          position: absolute
          top: -15px
          left: 20px

          + .text
            display: block
            text-align: left
            width: calc(100% - 30px)
            margin:
              left: 25px

      input[type=text],
      input[type=number],
      input[type=email],
      input[type=date],
      input[type=tel],
      input[type=password],
      select,
      textarea
        width: 100%
        background:
          color: transparent
        border: none
        min-height: 22px
        display: block

        &:disabled
          opacity: .6

      input[type=checkbox]
        position: absolute
        top: 0
        left: 20px

        + input[type=text]
          width: calc(100% - 30px)
          margin:
            left: 30px !important

      input[type=file]
        display: none

      &.value-center
        text-align: center

        @media #{$small-max}
          text-align: left