.content
  width: 100%
  clear: both

  .division
    padding: 0

  .item
    @include border-radius(5px)
    display: table
    padding: 0
    margin: 0 0 10px

    &.item-left
      @media #{$small}
        padding:
          right: 10px

    .label
      display: table-cell
      vertical-align: middle
      background:
        color: $color-gray
      font:
        size: .8em
        weight: 300
      text-transform: uppercase
      color: $color-dark
      padding: 10px 20px
      white-space: normal
      line-height: 1.2em

      &.label-left
        text-align: left

      &.label-xsmall
        width: 30px

      &.label-small
        width: 50px

      &.label-large
        width: 135px

      &.label-max
        width: 160px

      @media #{$small-max}
        width: 160px

    .value
      @include border-radius(5px, 'top-right')
      @include border-radius(5px, 'bottom-right')
      display: table-cell
      padding: 10px 10px 10px 15px
      line-height: 1em
      position: relative
      vertical-align: middle
      background:
        color: $color-soft
      font:
        size: 1em
        weight: 300

      &.disabled
        opacity: .6

      .checkbox
        position: relative

        input[type=checkbox]
          position: absolute
          top: -15px
          left: 20px

          + .text
            display: block
            text-align: left
            width: calc(100% - 30px)
            margin:
              left: 25px !important

      input[type=text],
      input[type=number],
      input[type=email],
      input[type=date],
      input[type=tel],
      select,
      textarea,
      span
        width: 100%
        background:
          color: transparent
        border: none
        min-height: 22px
        display: block

        &:disabled
          opacity: .6

      input[type=checkbox]
        position: absolute
        top: 0
        left: 20px

        + input[type=text]
          width: calc(100% - 30px)
          margin:
            left: 30px !important

      input[type=file]
        display: none

      &.value-center
        text-align: center

        @media #{$small-max}
          text-align: left