.submenu
  width: 100%
  height: 90px
  background:
    color: $color-dark

  .infos
    padding: 25px 20px
    width: 50%
    float: left
    color: $color-soft
    text-transform: uppercase
    opacity: .8

    .title
      font:
        size: 1.6em

    .subtitle
      font:
        size: 1.2em
      opacity: .5
      margin:
        left: 10px

  .options
    width: 50%
    float: right
    opacity: .4

    .items
      .item
        .btn
          position: relative
          float: right
          margin: 25px 0
          padding: 10px 10px 10px 40px
          font:
            weight: 700

          .icon
            position: absolute
            top: 0
            bottom: 0
            left: 0
            margin: auto
