<div class="header">
    <div class="mobile">
        <i class="fa fa-bars"></i>
    </div>
    <div class="logo">
        <img src="public/images/logo.png" alt="{{appTitle}}" title="{{appTitle}}">
    </div>
    <nav class="menu">
        <ul class="menu-items">
            <li class="item">
                <a href="#">
                    <span></span>
                    <span class="text">Imóveis</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <span></span>
                    <span class="text">Busca</span>
                </a>
            </li>
        </ul>
    </nav>
</div>