<div class="header" ng-click="toggleMenu()" ng-class="{'active': showMenu, 'header-home': page == 'home'}">
    <div class="content-center">
        <div class="mobile">
            <i class="fa fa-bars"></i>
        </div>
        <div class="logo">
            <a ui-sref="dashboard.home">
                <img src="public/images/logo-white.png" alt="{{appTitle}}" title="{{appTitle}}">
            </a>
        </div>
        <nav class="menu">
            <ul class="menu-items">
                <li class="item" ng-if="page != 'clients'">
                    <a ui-sref="dashboard.clients">
                        <span class="icon icon-clients"></span>
                        <span class="text">Clientes</span>
                    </a>
                </li>
                <li class="item" ng-if="page != 'properties'">
                    <a ui-sref="dashboard.properties">
                        <span class="icon icon-house"></span>
                        <span class="text">Imóveis</span>
                    </a>
                </li>
                <li class="item" ng-if="page != 'search'">
                    <a ui-sref="dashboard.search">
                        <span class="icon icon-search"></span>
                        <span class="text">Busca</span>
                    </a>
                </li>
                <li class="item has-subitem" ng-class="{'active': showSubmenu}">
                    <div class="item" ng-click="toggleSubmenu()">
                        <span class="image" ng-if="photo != 'false'">
                            <img ng-src="{{fileUrl + 'users/' + photo}}" alt="{{name}}" title="{{name}}">
                        </span>
                        <span class="image" ng-if="photo == 'false'">
                           <img src="public/images/user.png" alt="{{name}}" title="{{name}}">
                        </span>
                        <span class="text">{{name | firstName}}</span>
                    </div>
                    <ul class="subitems">
                        <li class="subitem">
                            <a ui-sref="dashboard.notifications">
                                <span class="icon icon-notification"></span>
                                <span class="text">Ver Notificações</span>
                            </a>
                        </li>
                        <li class="subitem">
                            <a ui-sref="dashboard.account">
                                <span class="icon icon-gear"></span>
                                <span class="text">Editar Meus Dados</span>
                            </a>
                        </li>
                        <li class="subitem" ng-if="group == 'admin'">
                            <a ui-sref="dashboard.users">
                                <span class="icon icon-users"></span>
                                <span class="text">Editar Usuários</span>
                            </a>
                        </li>
                        <li class="subitem">
                            <button ng-click="doLogout()">
                                <span class="icon icon-logout"></span>
                                <span class="text">Sair</span>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>