<section class="home">
    <div class="content-center">
        <div class="home-box">
            <h2 class="title">Olá Gilson, que você tenha um dia de excelentes negócios!</h2>
            <p class="text">Clique em “IMÓVEIS” para cadastrar um novo imóvel ou para visualizar e alterar algum previamente cadastrado.</p>
            <p class="text">Clique em “BUSCA” para visualizar as oportunidades de negócios identificadas pelo sistema ou para fazer uma busca segundo parâmetros específicos.</p>
        </div>
    </div>
</section>