<section class="login">
    <div class="content-center">
	    <div class="col-xs-12 col-sm-6">
	    	<div class="logo">
	    		<img/>
	    	</div>
	    	<div class="hello">
	    		<p>Olá, preencha seus dados para acessar o sistema.</p>
	    	</div>
	    	<form class="form-login" action="" method="get" accept-charset="utf-8">
	    		<div>
	    			<input class="input-login" type="text" id="usuario" placeholder="Qual o seu nome de usuário?" />
	    			<input class="input-login" type="text" id="senha" placeholder="Qual a sua senha?"/>
	    		</div>
	    		<div>
	    			<button class="button" type="submit">Entrar</button>
	    		</div>
	    	</form>
	    </div>
    </div>
</section>