.btn
  @include transition(all .3s)
  text:
    transform: uppercase
    align: center
  display: block
  min-width: 100px
  padding: 10px 20px

  &:visited,
  &:focus,
  &:active,
  &:focus:active
    outline: none

  i
    margin:
      right: 5px

  &.btn-gold
    @include create-button($color-gold, $color-soft)

  &.btn-gray-dark
    @include create-button($color-gray-dark, $color-soft)

  &.btn-dark
    @include create-button($color-dark, $color-soft)

  &.btn-soft
    @include create-button($color-soft, $color-dark)

  &.btn-link
    background:
      color: transparent
    border: none
    padding: 0

  &.btn-link-soft
    color: $color-soft

    &:hover
      color: $color-gold

  &.btn-rounded
    @include border-radius(5px)

  &.btn-center
    margin:
      left: auto
      right: auto

  &.btn-full
    width: 100%