$color-soft: #fff
$color-dark: #49494a

$color-blue: #3aded8
$color-pink: #fc3063
$color-green: #28a54c
$color-orange: #fe7c18
$color-red: #ff4f30
$color-wine: #991d3c

$color-gray-soft: #e6e6e6
$color-gray: #d2d3d4
$color-gray-dark: #a7a9ab

$color-gold: #ccaa45